<header id="header" class="fixed-top p-3">
    <div class="container d-flex align-items-center justify-content-lg-between">

        <!-- <h1 class="logo me-auto me-lg-0"><a href="">Gp<span>.</span></a></h1> -->
        <a href="index.html" class="logo me-auto me-lg-0"><img src="../../assets/img/logo1.png" alt="" class="img-fluid"></a>
        
        <nav id="navbar" class="navbar order-last order-lg-0">
            <ul>
                <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
                <li><a class="nav-link scrollto" href="#about">About</a></li>
                <li><a class="nav-link scrollto" href="#services">Services</a></li>
                <li><a class="nav-link scrollto " href="#portfolio">Portfolio</a></li>
                <li><a class="nav-link scrollto" href="">Contact</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>

        <a href="" class="get-started-btn scrollto">Book Us</a>

    </div>
</header>